@use './variables' as vars;

html {
    scrollbar-width: thin;
    scrollbar-color: vars.$dark-slate vars.$navy;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background: vars.$navy;
    // color: #f6f6f6;
    font-family: vars.$font-sans;

    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: vars.$slate;
    font-family: vars.$font-sans;
    font-size: vars.$fz-xl;
    line-height: 1.3;
}

ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
    margin: 0;
}

svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: vars.$green;
}

main {
    width: 100%;
    padding: 3rem 15rem; // 105px 225px

    @media (max-width: 768px) {
        padding: 7rem 10rem; // 105px 150px
    }
}

section {
    height: auto;
    padding: vars.$nav-width vars.$nav-width vars.$nav-height vars.$nav-width;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: vars.$lightest-slate;
    line-height: 1.1;
}

.fng {
    &-intro {
        &-sup-text {
            font-family: vars.$font-mono;
            font-size: clamp(vars.$fz-sm, 5vw, vars.$fz-md);
            font-weight: 400 !important;
            color: vars.$green;
            font-weight: 600;
            margin: 0px 0px 10px 4px;
            display: inline-block;
        }

        &-title-text {
            font-family: vars.$font-sans;
            font-size: clamp(40px, 8vw, 70px);
            color: vars.$lightest-slate;
            line-height: 1.5;
            font-weight: 600;
            margin: 0px;
        }

        &-sub-text {
            font-family: vars.$font-sans;
            margin-top: 5px;
            color: vars.$slate;
            line-height: 0.9;
            font-weight: 600;
            margin: 0px;
            font-size: clamp(40px, 8vw, 70px);
        }

        &-desc-text {
            margin: 3rem 0;
            font-family: vars.$font-sans;
            font-size: vars.$fz-lg;
            color: vars.$light-slate;
            max-width: 540px;
            opacity: 0.8;
            line-height: 1.5;
        }
    }

    &-about {
        &-numbered-heading {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            margin: 10px 0px 40px;
            width: 100%;
            font-size: clamp(22px, 5vw, vars.$fz-heading);
            white-space: nowrap;

            &::before {
                position: relative;
                bottom: 0px;
                counter-increment: section 1;
                content: "0" counter(section) ".";
                margin-right: 10px;
                color: vars.$green;
                font-family: vars.$font-mono;
                font-size: clamp(vars.$fz-md, 3vw, vars.$fz-xl);
                font-weight: 400;
            }

            &::after {
                content: "";
                display: block;
                position: relative;
                top: -2px;
                width: 300px;
                height: 1px;
                margin-left: 20px;
                background-color: vars.$lightest-navy;
            }
        }


        &-inner {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 50px;

            &-left {
                p {
                    margin: 0px 0px 15px;
                    font-family: vars.$font-sans;
                    font-size: vars.$fz-lg;
                    line-height: 1.55;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(140px, 200px));
                    gap: 0px 10px;
                    padding: 0px;
                    margin: 20px 0px 0px;
                    overflow: hidden;
                    list-style: none;

                    li {
                        position: relative;
                        margin-bottom: 10px;
                        padding-left: 20px;
                        font-family: vars.$font-mono;
                        font-size: vars.$fz-xs;

                        &::before {
                            content: "▹";
                            position: absolute;
                            left: 0px;
                            color: vars.$green;
                            font-size: vars.$fz-sm;
                            line-height: 12px;
                        }
                    }
                }
            }

            &-right {
                position: relative;
                max-width: 300px;

                &-wrapper {
                    box-shadow: 0 10px 30px -15px vars.$navy-shadow;
                    transition: vars.$transition;
                    display: block;
                    position: relative;
                    width: 100%;
                    border-radius: vars.$border-radius;
                    background-color: vars.$green;


                    &:hover {
                        outline: 0px;
                        transform: translate(-4px, -4px);
                        box-shadow: 0 20px 30px -15px vars.$navy-shadow;

                        &::before {
                            transform: translate(2px, 2px);
                        }

                        &::after {
                            transform: translate(8px, 8px);
                        }
                    }

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: vars.$border-radius;
                        transition: vars.$transition;
                        top: 0px;
                        left: 0px;
                        background-color: vars.$navy;
                        mix-blend-mode: screen;

                    }

                    &::after {
                        content: "";
                        border: 2px solid vars.$green;
                        top: 14px;
                        left: 14px;
                        z-index: -1;
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: vars.$border-radius;
                        transition: vars.$transition;
                    }


                    &-img_container {
                        position: relative;
                        border-radius: vars.$border-radius;
                        overflow: hidden;
                        transition: vars.$transition;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: vars.$navy;

                        img {
                            border-radius: vars.$border-radius;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: grayscale(100%) contrast(1) brightness(90%);
                            transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);

                            &:hover {
                                filter: saturate(100%) contrast(1) brightness(100%);
                            }
                        }
                    }
                }
            }
        }
    }

    &-works {
        padding: 150px 250px;

        &-numbered-heading {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            margin: 10px 0px 40px;
            width: 100%;
            font-size: clamp(22px, 5vw, vars.$fz-heading);
            white-space: nowrap;

            &::before {
                position: relative;
                bottom: 0px;
                counter-increment: section 2;
                content: "0" counter(section) ".";
                margin-right: 10px;
                color: vars.$green;
                font-family: vars.$font-mono;
                font-size: clamp(vars.$fz-md, 3vw, vars.$fz-xl);
                font-weight: 400;
            }

            &::after {
                content: "";
                display: block;
                position: relative;
                top: -2px;
                width: 300px;
                height: 1px;
                margin-left: 20px;
                background-color: vars.$lightest-navy;
            }
        }

        &-tabs {
            text-decoration: none;
            text-decoration-skip-ink: auto;
            position: relative;
            transition: vars.$transition;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: vars.$tab-height;
            padding: 5px 20px 2px 20px;
            background-color: transparent;
            color: vars.$slate;
            font-family: vars.$font-mono;
            font-size: vars.$fz-xs;
            text-align: left;
            white-space: nowrap;
            cursor: pointer;
            border: 0px;
            border-radius: 0px !important;
            border-left: 2px solid vars.$lightest-navy;

            &:hover,
            &:focus {
                background-color: vars.$light-navy;
                color: vars.$green;
                outline: 0px;
            }

            &.active {
                background-color: vars.$light-navy !important;
                color: vars.$green;
                border-left: 2px solid vars.$green;
            }
        }

        h3 {
            margin-bottom: 2px;
            font-size: vars.$fz-xxl;
            font-weight: 500;
            line-height: 1.3;

            &.company {
                color: vars.$green;
                text-decoration: none;
                text-decoration-skip-ink: auto;
            }

            a.inline-link {
                display: inline-block;
                position: relative;
                color: vars.$green;
                transition: vars.$transition;
                text-decoration: none;
                text-decoration-skip-ink: auto;

                &::after {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 1px;
                    position: relative;
                    bottom: -0.1rem;
                    background-color: vars.$green;
                    transition: vars.$transition;
                    opacity: 0.5;
                }

                &:hover,
                &:focus-visible {
                    color: vars.$green;
                    outline: 0px;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        .ambag-list {
            padding: 0px;
            margin: 0px;
            list-style: none;
            font-size: vars.$fz-sm;

            &>li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 10px;
                display: list-item;
                text-align: -webkit-match-parent;
                unicode-bidi: isolate;

                &::before {
                    content: "▹";
                    position: absolute;
                    left: 0px;
                    color: vars.$green;
                }
            }
        }
    }

    &-projects {
        padding: 0;
        padding-top: 250px;
        padding-bottom: 150px;

        &-numbered-heading {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            margin: 10px 0px 40px;
            width: 100%;
            font-size: clamp(22px, 5vw, vars.$fz-heading);
            white-space: nowrap;

            &::before {
                position: relative;
                bottom: 0px;
                counter-increment: section 3;
                content: "0" counter(section) ".";
                margin-right: 10px;
                color: vars.$green;
                font-family: vars.$font-mono;
                font-size: clamp(vars.$fz-md, 3vw, vars.$fz-xl);
                font-weight: 400;
            }

            &::after {
                content: "";
                display: block;
                position: relative;
                top: -2px;
                width: 300px;
                height: 1px;
                margin-left: 20px;
                background-color: vars.$lightest-navy;
            }
        }

        &-content {
            p {
                margin: 10px 0px;
                color: vars.$green;
                font-family: vars.$font-mono;
                font-size: vars.$fz-xs;
                font-weight: 400;
            }

            &-title {
                color: vars.$lightest-slate;
                font-size: clamp(24px, 5vw, 28px);
                line-height: 1.1;
                font-weight: 600;

                a {
                    display: inline-block;
                    text-decoration: none;
                    text-decoration-skip-ink: auto;
                    color: inherit;
                    transition: vars.$transition;
                    position: relative;
                    z-index: 1;
                }
            }

            &-description {
                box-shadow: 0 10px 10px -15px vars.$navy-shadow;
                transition: vars.$transition;
                position: relative;
                z-index: 2;
                padding: 25px;
                border-radius: vars.$border-radius;
                background-color: vars.$light-navy;
                color: vars.$light-slate;
                font-size: vars.$fz-lg;
                text-align: justify;

                &:hover {
                    box-shadow: 0 20px 30px -15px vars.$navy-shadow;
                }

                p {
                    font-family: vars.$font-sans;
                    color: vars.$light-slate;
                    font-size: vars.$fz-md;
                    line-height: 1.35;
                }
            }

            &-tech-list {
                -webkit-box-pack: end;
                justify-content: flex-end;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                z-index: 2;
                margin: 25px 0px 10px;
                padding: 0px;
                list-style: none;

                li {
                    margin: 0px 0px 5px 20px;
                    color: vars.$light-slate;
                    font-family: vars.$font-mono;
                    font-size: vars.$fz-xs;
                    white-space: nowrap;
                }
            }

            &-links {
                -webkit-box-pack: end;
                justify-content: flex-end;
                margin-left: 0px;
                margin-right: -10px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                position: relative;
                margin-top: 10px;
                margin-left: -10px;
                color: vars.$lightest-slate;

                a {
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 10px;
                    position: relative;
                    z-index: 1;
                    text-decoration: none;
                    text-decoration-skip-ink: auto;
                    color: inherit;
                    transition: vars.$transition;
                }
            }
        }
    }

    &-noteworthy {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;

        &-title {
            visibility: visible;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: all, opacity 0.5scubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5scubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
            margin: 0px 0px 10px;
            font-weight: 600;
            color: vars.$lightest-slate;
            font-size: clamp(24px, 5vw, vars.$fz-heading);
            line-height: 1.1;
        }

        &-archive {
            visibility: visible;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: 0.25scubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5scubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5scubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
            font-family: vars.$font-mono;
            font-size: vars.$fz-sm;
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: vars.$green;
            margin-top: 1rem;

            &::after {
                content: "";
                display: block;
                width: 0px;
                height: 1px;
                position: relative;
                bottom: 0.1em;
                background-color: vars.$green;
                opacity: 0.5;
                transition: vars.$transition;
            }

            &:hover {
                color: vars.$green;
                outline: 0px;

                &::after {
                    width: 100%;
                }
            }
        }
    }


    &-links {
        display: flex;
        align-items: center;
        color: vars.$lightest-slate;
        font-size: vars.$fz-xs;
        font-family: vars.$font-mono;
        font-weight: 500;
        gap: 1.25rem;

        a {
            margin-right: 10px;
        }
    }

    &-link {
        counter-increment: item;

        color: vars.$lightest-slate;
        text-decoration: none;
        transition: vars.$transition;
        font-size: vars.$fz-xs;
        font-family: vars.$font-mono;
        font-weight: 400;

        &:hover,
        &:focus {
            color: vars.$white;
        }

        &::before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            text-align: right;
        }
    }

    &-resumeBtn {
        color: vars.$green;
        background-color: transparent;
        border: 1px solid vars.$green;
        border-radius: vars.$border-radius;
        padding: 0.75rem 1rem;
        font-family: vars.$font-mono;
        line-height: 1;
        text-decoration: none;
        transition: vars.$transition;
        margin-left: 15px;
        font-size: vars.$fz-xs;

        // default hover
        &:hover {
            outline: none;
            box-shadow: 3px 3px 0 0 vars.$green;
            transform: translate(-4px, -4px);
        }
    }

    &-left-icons-list {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        color: vars.$light-slate;

        ul {
            list-style: none;
            padding: 0 .6rem;
            display: flex;
            flex-direction: column;
            gap: 1.45rem;
            margin: 0;

            li {
                transition: vars.$transition;

                &:hover,
                &:focus {
                    color: vars.$green;
                    transform: translateY(-3px);
                }
            }

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 95px;
                margin: 0px auto;
                background-color: vars.$light-slate;
            }
        }
    }

    &-right-email {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: auto;
        right: 40px;
        z-index: 10;
        color: vars.$light-slate;

        &-wrapper {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: relative;

            a {
                margin: 20px auto;
                padding: 10px;
                font-family: vars.$font-mono;
                font-size: vars.$fz-xs;
                line-height: vars.$fz-lg;
                letter-spacing: 0.1em;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                display: inline-block;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: vars.$transition;

                &:hover,
                &:focus {
                    color: vars.$green;
                    transform: translateY(-3px);
                }
            }

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 95px;
                margin: 0px auto;
                background-color: vars.$light-slate;
            }
        }
    }


}

// button {
.btn-default {
    color: vars.$green;
    background-color: transparent;
    border: 1px solid vars.$green;
    border-radius: vars.$border-radius;
    padding: 1.25rem 1.75rem;
    font-size: vars.$fz-sm;
    font-family: vars.$font-mono;
    line-height: 1;
    text-decoration: none;
    transition: vars.$transition;
    margin-top: 1.25rem;
    position: relative;

    &:hover,
    &:focus-visible {
        outline: none;
        box-shadow: 4px 4px 0 0 vars.$green;
        transform: translate(-5px, -5px);
    }
}

.range {
    margin: 10px 0 25px;
    color: vars.$light-slate;
    font-family: vars.$font-mono;
    font-size: vars.$fz-xs;
}

.text-highlight {
    display: inline;
    position: relative;
    color: vars.$green;
    transition: vars.$transition;

    &:hover {
        color: vars.$green;
        outline: 0px;
    }
}

.loader {
    background-color: vars.$lightest-navy;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    &>img {
        scale: 0.3;
    }
}

.img-cover {
    object-fit: cover;
}

.img-overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: vars.$light-navy;
    opacity: 0.65;
    z-index: 4;
    transition: vars.$transition;

    &:hover {
        opacity: .1;
    }
}